body {
  background-image: linear-gradient(to right, #354f52, #52796f, #84a98c);
}
.form-control {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    color: white;
    border: none;
}
.form-control::placeholder {
    color: white;
}
.form-control:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    color: white;
}
.border-radius {
    border-radius: 5px;
}
.bg-warnaTua {
    background: #2f3e46;
}
.text-shadow {
    text-shadow: 2px 1px 10px black;
}
.bg-rgba {
    background: rgba(255, 255, 255, 0.3);
}
#message {
    background: white;
    color: #2f3e46;
    border-radius: 25px;
    transition: 0.5s ease;
    box-shadow: 2px 0 20px #354f52;
}